In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

   Unnamed: 0  Score    Action
0           0   0.00  operator
1           1  19.55     reask
2           2  24.34     reask
3           3  29.26     reask
4           4   0.00  operator

In [5]:
data.groupby('Action')['Score'].mean()

Action
correct     86.579714
operator    29.389091
reask       37.592483
Name: Score, dtype: float64